version: "3.9"

name: myapi

services:
  api:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/ || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - mynetwork

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "http://api:8000"
    ports:
      - "3000:3000"
    depends_on:
      - api
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge